<body id="home">
<div class="body">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">Bonjour !</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Accueil</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->

<!-- PAGE HEADER
============================================= -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Mon actualité</h2>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER
============================================= -->

<!-- BLOG CONTENT
============================================= -->
<div class="news-wrap blog-main" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 post-main">
        <article class="post-full">
          <img class="img-responsive" src="demo/blog/1-big.jpg" alt=""/>
          <div class="col-md-12 no-padding">
            <div class="col-md-3 no-padding">
              <div class="post-author">
                <img src="demo/blog/author1.png" alt=""/>
              </div>
              <div class="post-meta">
                Posté par Antoine en Avril 2018
              </div>
              <div class="line-sep-3"></div>
              <div class="post-tags">
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Rêve</em></a><br>
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Evidence</em></a><br>
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Indépendance</em></a>
              </div>
            </div>
            <div class="col-md-9 post-full-info">
              <h4>Journée phare !</h4>
              <div class="line-sep-3"></div>
              <p>Qui ne rêverait pas de vivre dans un pays aussi bienveillant que le Canada ! Et quelle qualité de vie pour nos enfants ! Quoi ? Vous recherchez des développeurs web? Mais quelle bonne idée .<p>
              <p>Il faut maintenant bien préparer mon cv, ma lettre de motivation ainsi que ce portfolio ! Rendez vous le 26 et 27 mai prochain à Paris si j'ai la chance d'y être convoqué .</p>
              <p>Ce serait une chance pour moi de vivre à Montreal , ville multi-ethnique où le respect mutuel règne . Et cerise sur le gateau si je peux participer à son e-émancipation grâce à un job sympa dans le développement web . Wait and see ... </p>
            </div>
          </div>
        </article>
      </div>
      <aside class="col-md-3">
        <div class="side-widget">
        </div>
        <div class="side-widget">
          <h6>Montreal</h6>
          <img src="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_200/v1523116065/h-mtl-montreal_qe1gtm.jpg" alt=""/>
        </div>
        <div class="side-widget">
          <h6>Pour me suivre...</h6>
          <ul class="side-social">
            <li><a class="sl-fb" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="sl-tw" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="sl-ln" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </aside>
    </div>
  </div>
</div>
<!-- BLOG CONTENT
============================================= -->

<div class="space100"></div>

<!-- CONTACT INFO
============================================= -->
<div class="contact-info">
  <div class="container">
    <div class="row ci1">
      <img src="demo/tower.png" class="img-responsive" alt=""/>
      <p>277 avenue Jean Garaialde<br>62152 Hardelot, France</p>
      <ul class="social">
        <li><a class="sl-fb" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="sl-tw" href="#"><i class="fa fa-github"></i></a></li>
        <li><a class="sl-ln" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- CONTACT INFO
============================================= -->

<!-- FOOTER
============================================= -->
<footer>
  <div class="container">
    <div class="row">
      <p>&copy; Conçu et réalisé en Ruby-on-Rails par Antoine STAUMONT 2018</p>
    </div>
  </div>
</footer>
<!-- FOOTER
============================================= -->

</div>



</body>


