<body id="home">
<div class="body">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><h4>Bonjour !</h4></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Accueil</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->

<!-- PAGE HEADER
============================================= -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Mon actualité</h2>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER
============================================= -->

<!-- BLOG CONTENT
============================================= -->
<div class="news-wrap blog-main" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 post-main">
        <article class="post-full">
          <img class="img-responsive" src="demo/blog/1-big.jpg" alt=""/>
          <div class="col-md-12 no-padding">
            <div class="col-md-3 no-padding">
              <div class="post-author">
                <img src="demo/blog/author1.png" alt=""/>
              </div>
              <div class="post-meta">
                Posté par Antoine en Janvier 2018
              </div>
              <div class="line-sep-3"></div>
              <div class="post-tags">
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Même pas peur</em></a><br>
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Sur mon 31</em></a><br>
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Ambition</em></a>
              </div>
            </div>
            <div class="col-md-9 post-full-info">
              <h4>Passage à Euratech puis à Skema Lille</h4>
              <div class="line-sep-3"></div>
              <p>Maintenant essayons de donner vie à Tribes . Pour cela nous avons besoin d'aide , notamment juridique et pourquoi pas finacière !!! Il faut que notre projet de start-up soit incubé . Direction Lille avec Euratech et Skema .<p>
              <p>J'ai pitché à Euratech non sans stress ! La dernière fois que j'ai du convaincre un jury, c'était lors de ma thèse de doctorat il y a 15 ans ... Mais après deux minutes de parole, la motivation prend le dessus et mes bafouillages s'estompent et plus , la serrure connectée fonctionne au top !</p>
              <p>Malheureusement nous ne serons pas pris , la qualité était au rendez vous mais un autre projet déjà incubé était également sur le coliving , pas de chance . Ce sera différent avec Skema Lille qui nous intégrera par la suite .</p>
            </div>
          </div>
        </article>
      </div>
      <aside class="col-md-3">
        <div class="side-widget">
        </div>
        <div class="side-widget">
          <h6>Le fameux batch#108</h6>
          <img src="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_271/v1523103896/24068583_2018549401754668_5134715176032909724_o_ygcpgo.jpg" alt=""/>
        </div>
        <div class="side-widget">
          <h6>Pour me suivre...</h6>
          <ul class="side-social">
            <li><a class="sl-fb" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="sl-tw" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="sl-ln" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </aside>
    </div>
  </div>
</div>
<!-- BLOG CONTENT
============================================= -->

<div class="space100"></div>

<!-- CONTACT INFO
============================================= -->
<div class="contact-info">
  <div class="container">
    <div class="row ci1">
      <img src="demo/tower.png" class="img-responsive" alt=""/>
      <p>277 avenue Jean Garaialde<br>62152 Hardelot, France</p>
      <ul class="social">
        <li><a class="sl-fb" href="http://www.facebook.com/antoine.staumont" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="sl-tw" href="http://www.github.com/bossanov" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sl-ln" href="http://www.linkedin.com/in/antoine-staumont-83133062" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- CONTACT INFO
============================================= -->

<!-- FOOTER
============================================= -->
<footer>
  <div class="container">
    <div class="row">
      <p>&copy; Réalisé en Ruby-on-Rails par Antoine STAUMONT 2018</p>
    </div>
  </div>
</footer>
<!-- FOOTER
============================================= -->

</div>



</body>


