
<body id="home">
<div class="body">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
         <img src="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_50/v1520933613/AntoineStaumont_j4jfly.jpg" style="border-radius: 50px;" alt=""/>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Accueil</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->

<!-- PAGE HEADER
============================================= -->
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Mon actualité</h2>
			</div>
		</div>
	</div>
</div>
<!-- PAGE HEADER
============================================= -->

<!-- BLOG CONTENT
============================================= -->
<div class="news-wrap blog-main" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-md-8 post-main">
				<article class="post-full">

					<div class="col-md-12 no-padding">
						<div class="col-md-3 no-padding">
							<div class="post-author">

							</div>
							<div class="post-meta">
								Posté par Antoine en Décembre 2017
							</div>
							<div class="line-sep-3"></div>
							<div class="post-tags">
								<i class="fa fa-tag"></i> <em>Experience</em><br>
								<i class="fa fa-tag"></i> <em>Challenge</em><br>
								<i class="fa fa-tag"></i> <em>Rock'n roll</em>
							</div>
						</div>
						<div class="col-md-9 post-full-info">
							<h4>Demo-Day du wagon Batch#108</h4>
							<div class="line-sep-3"></div>
							<p>Et voilà, neuf semaines sont passées... Au départ tout cela paraissait insurmontable mais que ça passe vite neuf semaines ! Et quelle aventure. A la fin je comptais les jours qui me restaient car je ne voulais pas que tout cela s'arrête .<p>
							<p>Les deux dernières semaines étaient intensives car nous avons bossé sur notre projet, notre motivation était au top. Pour ma part je me suis lancé dans le domptage de la serrure connectée via une API . Nous ne comptions pas nos heures et n'hésitions pas à faire de nombreuses nocturnes .</p>
							<p>Vendredi c'est le jour J, nos projets sont prêts et nous nous contentons de réciter notre pitch du soir . Le démo-day s'est bien déroulé, la serrure a fonctionné au top via notre site www.tribes.rocks . Nous avons fêté cela avec tout notre batch toute la nuit . C'est le départ d'une nouvelle vie !</p>
						</div>
					</div>
				</article>
			</div>
			<aside class="col-md-3">
				<div class="side-widget">
				</div>
				<div class="side-widget">
					<h6>Le fameux batch#108</h6>
					<img src="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_271/v1523103896/24068583_2018549401754668_5134715176032909724_o_ygcpgo.jpg" alt=""/>
				</div>
				<div class="side-widget">
					<h6>Pour me suivre...</h6>
					<ul class="side-social">
						<li><a class="sl-fb" href="http://www.facebook.com/antoine.staumont" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="sl-tw" href="http://www.github.com/bossanov" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a class="sl-ln" href="http://www.linkedin.com/in/antoine-staumont-83133062" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</aside>
		</div>
	</div>
</div>
<!-- BLOG CONTENT
============================================= -->

<div class="space100"></div>

<!-- CONTACT INFO
============================================= -->
<div class="contact-info">
  <div class="container">
    <div class="row ci1">

      <p>277 avenue Jean Garaialde<br>62152 Hardelot, France</p>
      <ul class="social">
        <li><a class="sl-fb" href="http://www.facebook.com/antoine.staumont" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="sl-tw" href="http://www.github.com/bossanov" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sl-ln" href="http://www.linkedin.com/in/antoine-staumont-83133062" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- CONTACT INFO
============================================= -->

<!-- FOOTER
============================================= -->
<footer>
  <div class="container">
    <div class="row">
      <p>&copy; Réalisé en Ruby-on-Rails par Antoine STAUMONT 2018</p>
    </div>
  </div>
</footer>
<!-- FOOTER
============================================= -->

</div>



</body>


