
<body id="home">
<div class="body">

<!-- HEADER
============================================= -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top top-nav topnav-pages" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html">Coloristic</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="./index.html#home">Home</a></li>
					<li><a href="./index.html#services">Services</a></li>
					<li><a href="./index.html#portfolio">Portfolio</a></li>
					<li><a href="./index.html#team">Team</a></li>
					<li><a href="./index.html#pricing">Pricing</a></li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a href="./index.html#contact">Contact</a></li>
					<li><a class="btn-dark" href="#">Sign up</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</header>
<!-- HEADER
============================================= -->

<!-- PAGE HEADER
============================================= -->
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Portfolio</h2>
			</div>
		</div>
	</div>
</div>
<!-- PAGE HEADER
============================================= -->

<!-- PROJECT INFO
============================================= -->
<div class="project-single">
	<section class="project-content">
		<div class="container">
			<div class="row">
				<div class="project-info">
					<div class="col-md-7"><img src="demo/works/1-big.jpg" class="img-responsive" alt="" /></div>
					<div class="col-md-5">
						<h2>Lorem ipsum dolor amet</h2>
						<div class="line-sep-small"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor at turpis sit amet ornare. Vestibulum pharetra tempor dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque tellus.</p>
						<div class="project_details">
							<h3>Project Details</h3>
							<span><em>Date</em> 01 / April / 2016</span>
							<span><em>Categories</em> <a href="#">Animation</a> / <a href="#">HTML5</a> / <a href="#">Design</a></span>
							<span><em>Author</em> Spyropress</span>
						</div>
						<div class="space70"></div>
						<a href="#" class="btn-main">Visit Site</a>
					</div>
				</div>
				<!-- end section -->
			</div>
		</div>
		<!-- end main content area -->
	</section>
</div>
<!-- PROJECT INFO
============================================= -->

<!-- CONTACT INFO
============================================= -->
<div class="contact-info">
	<div class="container">
		<div class="row ci1">
			<img src="demo/tower.png" class="img-responsive" alt=""/>
			<p>282 North St (next to the candy shop)<br>London, UK 94107</p>
			<ul class="social">
				<li><a class="sl-fb" href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a class="sl-tw" href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a class="sl-gp" href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a class="sl-ln" href="#"><i class="fa fa-rss"></i></a></li>
				<li><a class="sl-ln" href="#"><i class="fa fa-dribbble"></i></a></li>
				<li><a class="sl-ln" href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- CONTACT INFO
============================================= -->

<!-- FOOTER
============================================= -->
<footer>
	<div class="container">
		<div class="row">
			<p>&copy; 2016 Powered by <a href="#">Wordpress</a></p>
		</div>
	</div>
</footer>
<!-- FOOTER
============================================= -->

</div>


</body>

