
<body id="home">
<div class="body">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home"><h4>Bonjour !</h4></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Accueil</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->

<!-- PAGE HEADER
============================================= -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>A propos du projet Steryz</h2>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER
============================================= -->

<!-- BLOG CONTENT
============================================= -->
<div class="news-wrap blog-main" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8 post-main">
        <article class="post-full">
          <img class="img-responsive" src="demo/blog/1-big.jpg" alt=""/>
          <div class="col-md-12 no-padding">
            <div class="col-md-3 no-padding">
              <div class="post-author">
                <img src="demo/blog/author1.png" alt=""/>
              </div>
              <div class="post-meta">
                Projet crée début 2017
              </div>
              <div class="line-sep-3"></div>
              <div class="post-tags">
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Stérilisation</em></a><br>
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Santé</em></a><br>
                <a href="#"><span><i class="fa fa-tag"></i></span> <em>Sécurité</em></a>
              </div>
            </div>
            <div class="col-md-9 post-full-info">
              <h4>STERYZ</h4>
              <div class="line-sep-3"></div>
              <p>Steryz est une startup qui permet aux chirurgiens-dentistes d’externaliser le traitement des dispositifs médicaux souillés. Celui-ci est un lourd procédé à la charge des chirurgien-dentistes. Ils  doivent également faire face à un manque de flexibilité, un investissment important ainsi que des normes contraignantes .<p>
              <p>Steryz propose de retirer les dispositifs médicaux souillés, se charge de leur traitement, de leur conditionnement et vous le dépose le lendemain: plus de flexibilité, plus de sérénité et au moins 50% d'économie .</p>
              <p>Un site internet complet permettra de suivre le processus de traitement des dispositifs médicaux souillés .</p>
            </div>
          </div>
        </article>
      </div>
      <aside class="col-md-3">
        <div class="side-widget">
        </div>
        <div class="side-widget">

          <img src="http://res.cloudinary.com/dz83jh064/image/upload/c_scale,h_250/v1521554897/gy8wurh2zd1ygpw53cv7.png" alt=""/>
        </div>
        <div class="side-widget">
          <h6>Pour me suivre...</h6>
          <ul class="side-social">
            <li><a class="sl-fb" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="sl-tw" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="sl-ln" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </aside>
    </div>
  </div>
</div>
<!-- BLOG CONTENT
============================================= -->

<div class="space100"></div>

<!-- CONTACT INFO
============================================= -->
<div class="contact-info">
  <div class="container">
    <div class="row ci1">
      <img src="demo/tower.png" class="img-responsive" alt=""/>
      <p>277 avenue Jean Garaialde<br>62152 Hardelot, France</p>
      <ul class="social">
        <li><a class="sl-fb" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="sl-tw" href="#"><i class="fa fa-github"></i></a></li>
        <li><a class="sl-ln" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- CONTACT INFO
============================================= -->

<!-- FOOTER
============================================= -->
<footer>
  <div class="container">
    <div class="row">
      <p>&copy; Conçu et réalisé en Ruby-on-Rails par Antoine STAUMONT 2018</p>
    </div>
  </div>
</footer>
<!-- FOOTER
============================================= -->

</div>



</body>
