<!DOCTYPE html>
<html>
  <head>
    <title>Antoinestaumont</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


      <meta charset="utf-8">
      <meta name="keywords" content="HTML5 Template" />
      <meta name="description" content="Slander - Responsive HTML5 Landing Page">
      <meta name="author" content="dkpixels.com">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicons -->
      <link rel="shortcut icon" href="img/favicon.ico">
      <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
      <!-- Google Webfonts -->

      <!-- CSS -->

  </head>
  <body>

    <%= yield %>


  </body>
</html>
